<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448790909358-cup16df9h3r42178883o13576bepukso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448790909358-cup16df9h3r42178883o13576bepukso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>448790909358-7v0ejahaicpfpolnke6os35mkut4k400.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiWbZ5UoP19Ac-nsJd7eTzE6HjhdEuDu8</string>
	<key>GCM_SENDER_ID</key>
	<string>448790909358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toximetro.ios</string>
	<key>PROJECT_ID</key>
	<string>toximetro-5d49a</string>
	<key>STORAGE_BUCKET</key>
	<string>toximetro-5d49a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448790909358:ios:14b1fbcadd44f82190f83f</string>
</dict>
</plist>